@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #161717;
    color: white;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 450px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
}

.sections label input{
    width: 80%;
    background-color: white;
    border: solid 1px transparent;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    color: black;
}

label input {
    width: 90%;
    background-color: #212121;
    border: solid 1px transparent;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
    color: white;
}

label input:hover {
    background-color: #454045;
    border: solid 1px #212121;
    cursor: pointer;
}
label input:focus {
    background-color: #454540;
    border: solid 1px #212121;
    cursor: pointer;
}

.button-singin{
    display: flex;
}

.submit-btn {
    display: block;
    background-color: red;
    color: white;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 95%;
}

.submit-btn:hover {
    opacity: 0.75;
}

a{
    margin-top: 1px;
    color: red;
}